<?xml version="1.0"
      encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <services>
      <service name="Discovery.Service.DiscoverableService">
        <endpoint binding="wsHttpBinding"
                  contract="Discovery.Service.IDiscoverableService" />
        <endpoint name="udbDiscovery"
                  kind="udpDiscoveryEndpoint" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDiscovery />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>