<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="net.pipe://localhost/CounterService" binding="netNamedPipeBinding"
                bindingConfiguration="" contract="ICounter" />
        </client>
    </system.serviceModel>
</configuration>