<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="Program+MyService"
                     behaviorConfiguration="MyServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8000"/>
                    </baseAddresses>
                </host>
                <endpoint address="MyService"
                          binding="wsHttpBinding"
                          contract="Program+IMyContract" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MyServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>