<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint
            name="MyEndpoint"
            address="http://localhost:8731/MyService/"
            binding="wsHttpBinding"
            bindingConfiguration=""
            contract="IMyContract"
            />
      </client>
   </system.serviceModel>
</configuration>