<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="CounterBehavior">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="CounterBehavior" name="CodeRunner.CounterService">
                <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration=""
                    name="Counter" contract="CodeRunner.ICounter" />
                <endpoint address="mex" binding="mexNamedPipeBinding" bindingConfiguration=""
                    name="mex" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.pipe://localhost/CounterService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>