<?xml version="1.0"
      encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="netMsmq">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint name="netMsmq"
                address="net.msmq://localhost/private/MessageQueue"
                binding="netMsmqBinding"
                bindingConfiguration="netMsmq"
                contract="QueuedCalls.Contract.IMessagingService" />
    </client>
  </system.serviceModel>
</configuration>