<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.web>
      <compilation debug="true" />
   </system.web>

   <system.diagnostics>
      <sources>
         <source name="System.ServiceModel"
                 switchValue="Warning" propagateActivity="true">
            <listeners>
               <add name="log"/>
            </listeners>
         </source>
         <source name ="MyServiceTraceSource"
                 switchValue="Information,ActivityTracing">
            <listeners>
               <add name="log"/>
            </listeners>
         </source>
      </sources>
      <sharedListeners>
         <add name="log" type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="Traces.svclog" traceOutputOptions="Callstack"/>
      </sharedListeners>
   </system.diagnostics>

   <system.serviceModel>
      <services>
         <service name="WcfExamples.EndToEndTracing.Service.MyService" behaviorConfiguration="WcfExamples.EndToEndTracing.Service.Service1Behavior">
            <host>
               <baseAddresses>
                  <add baseAddress = "http://localhost:8731/EndToEndTracing/MyService/" />
               </baseAddresses>
            </host>
            <!-- Service Endpoints -->
            <endpoint address ="" binding="wsHttpBinding" contract="WcfExamples.EndToEndTracing.Service.IMyContract">
               <identity>
                  <dns value="localhost"/>
               </identity>
            </endpoint>
            <!-- Metadata Endpoints -->
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name="WcfExamples.EndToEndTracing.Service.Service1Behavior">
               <serviceMetadata httpGetEnabled="True"/>
               <serviceDebug includeExceptionDetailInFaults="true" />
            </behavior>
         </serviceBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>
