<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="Program+MyService">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8000"/>
                    </baseAddresses>
                </host>
                <!--Base address only-->
                <endpoint address=""
                          binding="wsHttpBinding"
                          contract="IMyContract"/>
                <!--Relative to base address-->
                <endpoint address="MyService"
                          binding="wsHttpBinding"
                          contract="IMyContract"/>
                <!--Absolute address-->
                <endpoint address="http://localhost:8001/MyService"
                          binding="wsHttpBinding"
                          contract="IMyContract"/>
                <!--Can add multiple endpoints of the same type as long as they differ by URL-->
                <endpoint address="http://localhost:8002/MyService"
                          binding="wsHttpBinding"
                          contract="IMyContract"/>
                <endpoint address="net.tcp://localhost:8003/MyService"
                          binding="netTcpBinding"
                          contract="IMyContract"/>
                <endpoint address="net.tcp://localhost:8004/MyService"
                          binding="netTcpBinding"
                          contract="IMyContract"/>
            </service>
        </services>
    </system.serviceModel>
</configuration>