<?xml version="1.0"
      encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <services>
      <service name="QueuedCalls.Service.MessagingService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/MessagingService" />
          </baseAddresses>
        </host>
        <endpoint address="net.msmq://localhost/private/MessageQueue"
                  binding="netMsmqBinding"
                  contract="QueuedCalls.Contract.IMessagingService"
                  bindingConfiguration="simpleQueue" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="simpleQueue" >
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>