<?xml version="1.0"?>
<configuration>
    <system.codedom>
        <compilers>
            <compiler language="F#;f#;fs;fsharp"
                      extension=".fs"
                      type="Microsoft.FSharp.Compiler.CodeDom.FSharpAspNetCodeProvider,
                            FSharp.Compiler.CodeDom,
                            Version=1.9.6.2,
                            Culture=neutral,
                            PublicKeyToken=a19089b1c74d0809" />
        </compilers>
    </system.codedom>
    <system.serviceModel>
        <services>
            <service name="IISHosting.MyService" behaviorConfiguration="IISHosting.MyServiceBehavior">
                <endpoint address="" binding="wsHttpBinding" contract="IISHosting.IMyContract" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="IISHosting.MyServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>
