<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="IISHosting.MyService" behaviorConfiguration="IISHosting.MyServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" contract="IISHosting.IMyContract" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IISHosting.MyServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
