<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <system.diagnostics>
      <sources>
         <!--Necessary for activities to propagate across endpoints-->
         <source name="System.ServiceModel"
                 switchValue="Warning" propagateActivity="true">
            <listeners>
               <add name ="log"/>
            </listeners>
         </source>
         <source name="MyServiceTraceSource"
                 switchValue="Information,ActivityTracing">
            <listeners>
               <add name="log"/>
            </listeners>
         </source>
      </sources>
      <sharedListeners>
         <add name ="log" type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="Traces.svclog" traceOutputOptions="Callstack"/>
      </sharedListeners>
   </system.diagnostics>
   
   <system.serviceModel>
      <bindings>
         <wsHttpBinding>
            <binding name="WSHttpBinding_MyService" closeTimeout="00:01:00"
                openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                allowCookies="false">
               <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                   maxBytesPerRead="4096" maxNameTableCharCount="16384" />
               <reliableSession ordered="true" inactivityTimeout="00:10:00"
                   enabled="false" />
               <security mode="Message">
                  <transport clientCredentialType="Windows" proxyCredentialType="None"
                      realm="" />
                  <message clientCredentialType="Windows" negotiateServiceCredential="true"
                      algorithmSuite="Default" establishSecurityContext="true" />
               </security>
            </binding>
         </wsHttpBinding>
      </bindings>
      <client>
         <endpoint address="http://localhost:8731/EndToEndTracing/MyService/"
             binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_MyService"
             contract="MyService" name="WSHttpBinding_MyService">
            <headers>
               <MyHeader xmlns="http://tempuri.org" name="Sample">This is the client's header.</MyHeader>
            </headers>
            <identity>
               <dns value="localhost" />
            </identity>
         </endpoint>
      </client>
   </system.serviceModel>
</configuration>