<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="CodeRunner.CounterService">
                <endpoint address="net.pipe://localhost/UIHostedCounter" binding="netNamedPipeBinding"
                    bindingConfiguration="" contract="CodeRunner.ICounter" />
            </service>
        </services>
    </system.serviceModel>
</configuration>