<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8731/" binding="basicHttpBinding"
                bindingConfiguration="" contract="ICalculator" name="ExampleCalculator" />
            <endpoint address="http://localhost:8731/" binding="basicHttpBinding"
                bindingConfiguration="" contract="ServiceReferenceCalculator.ICalculator"
                name="ServiceReferenceCalculator" />
        </client>
    </system.serviceModel>
</configuration>