<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior" name="CodeRunner.CounterForm">
                <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration=""
                    name="Counter" contract="CodeRunner.ICounter" />
                <endpoint address="mex" binding="mexNamedPipeBinding" bindingConfiguration=""
                    name="mex" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>