<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
        <compilation debug="true" />
    </system.web>
    <system.serviceModel>
        <services>
            <service behaviorConfiguration="CounterServiceLibrary.SharedBehavior"
                name="CounterServiceLibrary.PerCallCounter">
                <endpoint address="" binding="wsHttpBinding" name="Service" contract="CounterServiceLibrary.ICounterService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" name="Mex" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/PerCallCounterService" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="CounterServiceLibrary.SharedBehavior"
                name="CounterServiceLibrary.PerSessionCounter">
                <endpoint address="" binding="wsHttpBinding" name="Service" contract="CounterServiceLibrary.ICounterService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" name="Mex" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/PerSessionCounterService" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="CounterServiceLibrary.SharedBehavior"
                name="CounterServiceLibrary.SingletonCounter">
                <endpoint address="" binding="wsHttpBinding" bindingConfiguration=""
                    name="Service" contract="CounterServiceLibrary.ICounterService" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    name="Mex" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/SingletonCounterService" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="CounterServiceLibrary.SharedBehavior"
                name="CounterServiceLibrary.MySingleton">
                <endpoint address="" binding="wsHttpBinding" bindingConfiguration=""
                    name="Service" contract="CounterServiceLibrary.IMyContract" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    name="Mex" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="CounterServiceLibrary.SharedBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>
